[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/y4code/hugo-theme-even
[submodule "themes/contrast"]
	path = themes/contrast
	url = https://github.com/y4code/contrast-hugo
[submodule "themes/liva-hugo"]
	path = themes/liva-hugo
	url = https://github.com/y4code/liva-hugo.git
[submodule "themes/yinyang"]
	path = themes/yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/octopress"]
	path = themes/octopress
	url = https://github.com/parsiya/Hugo-Octopress.git
